body{
    background: #f4f5f9;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 10px;
}

.blockquote {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 1;
}

.blockquote-footer {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 10px;
    line-height: 2;
}

.nav-link {
    letter-spacing: 5px;
}

.btn {
    width: 100px;
    height: 100px;
    letter-spacing: 5px;
    border-radius: 10px;
}

.btn:hover {
    background: #da3849;
    border: #da3849;
}

.menu {
    background-color: transparent;
    border-color: transparent;
    text-align: left;
    margin-left: 30px;
}

.boxbutton {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 100px;
    text-align: left;
    margin-left: 30px;
}

.menugroup {
    margin-top: 50px;
}

.active {
    background: #333;
    color: #fff;
}


.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    position: fixed;
    pointer-events: none;
}